
* {
	margin: 0;
	padding: 0;
	}
/* normal CSS */
body {
	background: black;
	color: white;
	font-family: Verdana, sans-serif;
	font-size: 3.5vh;
	}

article, aside, footer, header, nav, section { 
	display: block; 
	padding: 20px;
	margin: 0;
	border: 0px dashed #ff00ff;	
	}

header {
	margin-top: 30px;
	}
nav {
	margin-top: 10px;
	padding-left: 40px;
	}
article {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 600px;
	}
section {
	margin: 20px;
	}
footer {
	clear: both;
	margin-bottom: 40px;
	}

	